version: '3'

services:
  nginx:
    image: jonasal/nginx-certbot:nginx-certbot:4.3.0-nginx1.25.2
    restart: unless-stopped
#    environment:
#      - CERTBOT_EMAIL
    env_file:
      - ./nginx-certbot.env
#    ports:
#      - 80:80
#      - 443:443
    network_mode:
      - host
    volumes:
      - nginx_secrets:/etc/letsencrypt
      - ./user_conf.d:/etc/nginx/user_conf.d

volumes:
  nginx_secrets:
